<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      SORTOE
  </body>
  <script>  
    localStorage.setItem('sortoeUser', JSON.stringify({
        active: true,
        admin: true,
        authToken: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1Mzk3MDIzNjUsIm5iZiI6MTUzOTcwMjM2NSwianRpIjoiZjc3ODA1YzYtNjE2Yi00ZjM5LThlYzAtMTM1MTEwOTNjZTZkIiwiZXhwIjoxNTM5Nzg4NzY1LCJpZGVudGl0eSI6MSwiZnJlc2giOmZhbHNlLCJ0eXBlIjoiYWNjZXNzIn0._LgCI6JZFtXPcMwZugsyyNmGDztOogBfwduQogRl_lQ",
        email: "test1@acme.com",
        firstName: "Admin",
        id: 1,
        lastName: "admin",
        organization: "testorg",
        username: "admin"
    }))
    window.open("https://sortoe.supermicro5.opswerx.org/dashboard","_self")
  </script>
</html>
