<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      SORTOE
  </body>
  <script>  
    localStorage.setItem('sortoeUser', JSON.stringify({
        active: true,
        admin: true,
        authToken: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MzkyNzEzMjcsIm5iZiI6MTUzOTI3MTMyNywianRpIjoiYTM0YzlkMmEtN2U1Ni00ZDI3LWFhMWMtZTA3MGM0MGMwMGRmIiwiZXhwIjoxNTM5MzU3NzI3LCJpZGVudGl0eSI6MSwiZnJlc2giOmZhbHNlLCJ0eXBlIjoiYWNjZXNzIn0.KdFxim0Al_FT3s0pAi6hgJ0sFzo2NrPOj6bWPXE5YdE",
        email: "test1@acme.com",
        firstName: "Admin",
        id: 1,
        lastName: "admin",
        organization: "testorg",
        username: "admin"
    }))
    
    window.open("https://sortoe.supermicro5.opswerx.org/","_self")
  </script>
</html>